*{
    padding: 0;
    margin: 0;
}
#gameContainer {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

#dino {
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}

#dragon {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;
    animation: dragonLeft 1s infinite linear;
}

#score {
    font-size: 25px;
    color: #54212f;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
}

@keyframes dinoJump {
    0% {top: 150px;}
    35% {top: 100px;}
    65% {top: 100px;}
    100% {top: 150px;}
}

@keyframes dragonLeft {
    0% {left: 480px;}
    100% {left: -40px;}
}

.animateDino {
    animation: dinoJump 500ms;
}